{% load static %}

<script src="{% static 'assets/plugins/jquery/dist/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="{% static 'assets/plugins/chart.js-3.7.1/chart.min.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/plugins/html2canvas-1.4.1/html2canvas.min.js' %}"></script>
<script src="{% static 'assets/plugins/jspdf.min.js_1.5.3/cdnjs/jspdf.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'assets/plugins/dselect/js/dselect.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

